.text-body-secondary {
    color: gray;
    font-size: .75rem !important;
}

.card {
    border-radius: .5rem;
}

.card.dark {
    background-color: whitesmoke;
}

.table td,.table th {
    padding: 1rem 1.5rem;
}